<TopBar />

<form class="content settings-form">
  <LinkTo @route="index" @tagName="button" type="button" class="close-button" title="close">&times;</LinkTo>

  <p class="description">
  <em>Tip:</em> After adjusting the times bookmark this URL to save the times for next future uses.
  (<LinkTo @query={{hash min="5:00" avg="8:00" max="10:00"}}>example</LinkTo>)
  </p>

  <fieldset class="--max-time">
    <label>Maximum time <TimerDisplay @seconds={{this.timer.maxSeconds}} /></label>
    <TimePicker
      @hideAutoButton={{true}}
      @time={{this.timer.maxTime}}
      @update={{fn (mut this.timer.maxTime)}}
    />
    <p class="description">Speech has run over time (red).</p>
  </fieldset>

  <fieldset class="--avg-time">
    <label>Average time <TimerDisplay @seconds={{this.timer.avgSeconds}} /></label>
    <TimePicker
      @time={{this.timer.avgTime}}
      @update={{fn (mut this.timer.avgTime)}}
    />
    <p class="description">Speech is near going over time (yellow).</p>
  </fieldset>

  <fieldset class="--min-time">
    <label>Minimum time <TimerDisplay @seconds={{this.timer.minSeconds}} /></label>
    <TimePicker
      @time={{this.timer.minTime}}
      @update={{fn (mut this.timer.minTime)}}
    />
    <p class="description">Speech has reached the time to qualify (green).</p>
  </fieldset>
</form>
